html {
	scroll-behavior: smooth;
}


body {
	background-color: #FF6961;
	font-family: 'Josefin Sans', sans-serif;
	color: #FFFFFF;
}

.warnaNavbar {
	background-color: #00000063;
}

nav {
	font-family: 'Josefin Sans', sans-serif;
}
.nav-link {
	color: #FFFFFF;
	margin-right: 10px;
}

.nav-link:hover {
	color: #FFFFFFCC;
}

.navbar-brand {
	margin-left: 20px;
	font-size: 23px;
	color: #FFFFFF
}

.navbar-brand:hover {
	color: #FFFFFFCC;
}

.paddingButton {
	padding-left: 20px;
}

.launch-page {
	flex-direction: column;
	display: flex;
	align-items: center;
	align-content: center;
}

.launch-page .foto-saya {
	width: 350px;
	margin-top: 30px;
}

.launch-page p {
	font-weight: 400;
	text-decoration: none;
	font-size: 30px;
}

.launch-page .scroll-btn {
	width: 40px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.about-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	padding-top: 80px;
	padding-bottom: 90px;	
}


.about-page .tentang-saya {
	background-color: #00000063;
	padding: 20px;
	font-size: 21px;
	margin-top: 5px;
	margin-bottom: 60px;
}

.about-page .pendidikan-saya {
	display: flex;
	flex-direction: row;
	
}

.instansi {
	background-color: #00000063;
	display: flex;	
	flex-direction: row;
	padding: 10px;
	margin-top: 5px;
	margin-right: 12px;
	margin-left: 12px;
	align-items: center;
	justify-content: center;
}

.logo-instansi {
	width: 60px;
	margin-left: 15px;
}

.instansi h4 {
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.kemampuan-saya {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 80px;
	padding-bottom: 90px;
}


.skill-container {
	display: flex;
	flex-direction: row;
}

.skill {
	transition: 0.7s ease;
	background-color: #00000063;
	margin: 40px 15px 30px 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skill .name {
	transition: 0.7s ease;
	align-self: flex-start;
	color: #FFFFFF00;
}

.logo-skill {
	width: 120px;
	margin: 0px 50px 30px 50px;
}

.skill:hover {
	transition: 0.7s ease;
	background-color: #00000038;
}
.skill:hover .name {
	transition: 0.7s ease;
	color: white;
}

.pengalaman-saya {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

.exp-box {
	background-color: #00000063;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 10px;
	width: 400px;
	height: 80px;
	transition: 0.7s ease;
}

.exp-box:hover {
	background-color: #00000038;
	transition: 0.7s ease;
}

.exp-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 65%;
}

.logo-exp {
	width: 55px;
	
}

.vol-header {
	padding-top: 30px;
}

.galeri-saya {
	display: flex;
	flex-direction: column;
}

.galeri-saya h3 {
	margin-top: 20px;
	align-self: center;
}

.galeri-saya img {
	width: 175px;
	height: 175px;
	object-fit: cover;
	background-color: #00000063;
}

.left-container {
	margin-top: 5px;
	background-color: #00000063; 
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.right-container {
	margin-top: 5px;
	background-color: #00000063; 
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.center-container {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.hubungi-saya {
	padding-top: 160px;
	padding-bottom: 50px;		
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-container {
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo-cp {
	transition: 0.7s ease;
	width: 80px;
	background-color: #00000063;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.logo-cp:hover {
	transition: 0.7s ease;
	background-color: #FF6961;
}

.hubungi-saya .scroll-btn {
	width: 40px;
	margin-top: 155px;
}

.row-striped:nth-of-type(odd){
  background-color: #00000038;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  background-color: #00000045;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.badge {
	background-color: #00000063;
}

.btn {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #00000063;
	color: white;
}

.btn:hover {
	background-color: #00000040;
	color: white;
}

.jadwal-form1 {
	padding-left: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.h3_tambah {
	margin-top: 40px;
	margin-bottom: 30px;
	text-align: center;
}
.post-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.post-form p {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bgform {
	background-color: #00000063;
	padding: 20px 40px 20px 40px;
}

.btn-del{
	margin-left: 200px;
}