{% extends 'base.html' %}
{% load static %}

	{% block content %}
		<!-- ABOUT PAGE -->
		<div class="about-page" id="ap">
			<h2>Tentang</h2>

			<p class="tentang-saya">
			 	Rifqi adalah mahasiswa Ilmu Komputer di Fasilkom UI. <br>
				Di tahun kedua perkuliahannya, pemuda yang aktif, energik, dan ceria ini <br>
				sangat senang mempelajari mata perancangan pemrograman web.
			</p>

			<h2>Pendidikan</h2>

			<div class="pendidikan-saya">
				<div class="instansi">
					<img src="{% static 'images/edu/logo_sma6.png' %}" class="logo-instansi">
					<h4>SMA Negeri 6 Bogor</h4>
				</div>

				<div class="instansi">
					<img src="{% static 'images/edu/logo_ui.png' %}" class="logo-instansi">
					<h4>Universitas Indonesia</h4>
				</div>	
			</div>

		</div>
	{% endblock %}