{% extends 'base.html' %}
{% load static %}

	{% block content %}
	<link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
	<script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

	

	<h3 class="h3_tambah">Tambah Kegiatan Baru</h3>
    <form method="POST" class="post-form form-group">{% csrf_token %}
    	<div class="bgform">
        	{{ form.as_p }}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        });
    });
	</script>

	{% endblock %}
