{% extends 'base.html' %}
{% load static %}


	{% block content %}
	<!-- CONTACT PAGE -->
		<div class="hubungi-saya" id="cp">
			<h3>Hubungi Saya</h3>
			<div class="contact-container">
				<a href="mailto:mqnisen@gmail.com" target="_blank"><img src="{% static 'images/contact/logo_email.png' %}" class="logo-cp"/></a>
				<a href="https://www.linkedin.com/in/mrifqi" target="_blank"><img src="{% static 'images/contact/logo_linkedin.png' %}" class="logo-cp"/></a>
				<a href="http://line.me/ti/p/mqnisen" target="_blank"><img src="{% static 'images/contact/logo_line.png' %}" class="logo-cp"/></a>
				<a href="https://www.instagram.com/enbeqi" target="_blank"><img src="{% static 'images/contact/logo_ig.png' %}" class="logo-cp"/></a>
			</div>
			<a href="{% url 'portofolio:launch' %}"><img src="{% static 'images/iconfinder_upbutton.png' %}" class="scroll-btn"/></a>
		</div>
		
	{% endblock %}