{% extends 'base.html' %}
{% load static %}

	{% block content %}
		<!-- EXPERIENCES PAGE -->
		<div class="pengalaman-saya" id="exp">
			<h3>Organisasi</h3>
			<div class="exp-box">
				<img src="{% static 'images/exp/logo_bem.png' %}" class=logo-exp>
				<div class="exp-text">
					<h5>BEM FASILKOM UI 2019</h5>
					<h6>Dept. Akademis dan Kepemimpinan</h6>
				</div>
			</div>

			<h3 class="vol-header">Kepanitiaan</h3>
			<div class="vol-container">
				<div class="exp-box">
					<img src="{% static 'images/exp/logo_cf.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>COMPFEST 11</h5>
						<h6>Staff Playground</h6>
					</div>
				</div>

				<div class="exp-box">
					<img src="{% static 'images/exp/logo_cgt.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>Computers Get Together</h5>
						<h6>Staff Bazaar dan Konsumsi</h6>
					</div>
				</div>

				<div class="exp-box">
					<img src="{% static 'images/exp/logo_siwak.png' %}" class=logo-exp>
					<div class="exp-text">
						<h5>SIWAK-NG</h5>
						<h6>Staff Akomodasi</h6>
					</div>
				</div>

			</div>
		</div>
	{% endblock %}