{% extends 'base.html' %}
{% load static %}

	{% block content %}
		<!-- GALLERY PAGE -->
		<div class="galeri-saya" id="gs">
			
			<div class="photos-container">
				<div class="right-container">
					<img src="{% static 'images/gallery/gf1-1.jpg' %}">
					<img src="{% static 'images/gallery/gf1-2.jpg' %}">
					<img src="{% static 'images/gallery/gf1-3.jpg' %}">
					<img src="{% static 'images/gallery/gf1-4.jpg' %}">
				</div>
				<div class="left-container">
					<img src="{% static 'images/gallery/gf2-1.jpg' %}">
					<img src="{% static 'images/gallery/gf2-2.jpg' %}">
					<img src="{% static 'images/gallery/gf2-3.jpg' %}">
					<img src="{% static 'images/gallery/gf2-4.jpg' %}">
				</div>
				<div class="right-container">
					<img src="{% static 'images/gallery/gf3-1.jpg' %}">
					<img src="{% static 'images/gallery/gf3-2.jpg' %}">
					<img src="{% static 'images/gallery/gf3-3.jpg' %}">
					<img src="{% static 'images/gallery/gf3-4.jpg' %}">
				</div>
			</div>
		</div>
		
	{% endblock %}