{% extends 'base.html' %}
{% load static %}

	{% block content %}

		<!-- LAUNCH PAGE -->
		<div class="launch-page" id="lp">
			<img src="{% static 'images/profile/foto-b.png' %}" class="foto-saya">
			<p>Muhammad Rifqi</p>
			<a href="{% url 'portofolio:about' %}"><img src="{% static 'images/iconfinder_downbutton.png' %}" class="scroll-btn"/></a>

		</div>

	{% endblock %}
