{% extends 'base.html' %}
{% load static %}

	{% block content %}

		{% for jadwal in semua_jadwal %}
		<!-- SHOW JADWAL PAGE -->

		<div class="row row-striped">
			<div class="col-2 text-right">
				<h1 class="display-4"><span class="badge badge-secondary">{{ jadwal.getTanggal }}</span></h1>
				<h2>{{ jadwal.getBulan }}</h2>
			</div>
			<div class="col-10">
				<h3 class="text-uppercase"><strong>{{ jadwal.nama_Kegiatan }}</strong></h3>
				<ul class="list-inline">
				    <li class="list-inline-item"><i class="fa fa-calendar" style="color:#000000AA;" aria-hidden="true"></i>{{ jadwal.getHari }}</li>
				    <!--jadwal.tanggal.strftime("%A")-->
					<li class="list-inline-item"><i class="fa fa-clock-o" style="color:#000000AA;" aria-hidden="true"></i> {{ jadwal.getJam }}</li>
					<li class="list-inline-item"><i class="fa fa-location-arrow" style="color:#000000AA;" aria-hidden="true"></i>{{ jadwal.getTempat }}</li>
				</ul>
				<p>Kategori: {{ jadwal.kategori }}</p>
			</div>
			
			<div class="del-jadwal col-12">
				<form action="{% url 'portofolio:delete_jadwal' jadwal.id %}" method="post">
					{% csrf_token %}
					<input type="hidden" name="jadwal_id" value="{{ jadwal.id }}"/>
					<button type="" class="btn-sm btn-danger" style="margin-left: 10%">
						Hapus
					</button> 
				</form>	
			</div>
			
		</div>


		{% endfor %}

		
			<div class="col text-center">
  				<a class="btn" href="{% url 'portofolio:add_jadwal' %}">Tambah Kegiatan</a>
			</div>
		

	{% endblock %}
