{% extends 'base.html' %}
{% load static %}

	{% block content %}
<!-- SKILLS PAGE -->
		<div class="kemampuan-saya" id="skl">
			<h2>Kemampuan</h2>

			<div class="skill-container">
				<div class="skill">
					<h5 class="name">python</h5>
					<img src="{% static 'images/skills/logo_python.png' %}" class=logo-skill>
					<h5>7/10</h5>
				</div>

				<div class="skill">
					<h5 class="name">java</h5>
					<img src="{% static 'images/skills/logo_java.png' %}" class=logo-skill>
					<h5>8/10</h5>
				</div>

				<div class="skill">
					<h5 class="name">html-css</h5>
					<img src="{% static 'images/skills/logo_html-css.png' %}" class=logo-skill>
					<h5>7/10</h5>
				</div>
			</div>
		</div>

	{% endblock %}